body {
    display: flex;
    
}
.parent {
    top: 260px;
    right: 440px;
    position: absolute  ;
    display: flex;
    border: 2px solid black;
    height: 30px;
    padding: 0 20px;
    padding-top: 10px;
    width: 400px;
    border-radius: 30px;
}
input {
    outline: none;
    position: absolute;
    padding-bottom: 6px;
    border-style: none;
    width: 380px;
}
.icon {
    position: absolute;
    right: 20px;
}